html, body {
    background-image: url(../images/background.jpg);
   background-size: 100%;
   overflow-x: hidden;
   background-repeat: no-repeat;
}

.heading-cadastro {
   padding: 20px;
   text-align: center;
   font-family: 'PT Sans', sans-serif;
}

#cadastrarUser{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 15px;
   font-weight: bolder;
}
#cadastrarNutri{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 15px;
   font-weight: bolder;
}